@media (max-width: 700px) {
    nav {
        display: none;
    }
}

a {
    text-decoration: none;
    color: black;
}

a:active{
    color: #f14848;
    font-weight: bold;
}

li {
    list-style-type: none;
}

nav,
nav li {
    display:inline-block;
}

nav a:hover,
nav a:focus{
    color: #f14848;

}

nav li li a:hover,
nav li li a:focus{
    color: white;
    background: #f14848;
}

.nav-main-ul li li {
    visibility: hidden;
}

.nav-main-ul li:hover > ul > li,
.nav-main-ul li:focus > ul > li{
    visibility: visible;
}

.nav-main-ul li:hover,
.nav-main-ul li:focus {
    visibility: visible;
}

.nav-main-ul li:hover + li,
.nav-main-ul li:focus + li {
    visibility: visible;
}


#intro {
     background-image: url("../assets/main-bg/home-featured-bg.png");
     color: white;
 }

#intro a{
    color: white;
}


#upper-footer {
    background-color: rgba(4, 4, 11, 0.86);
}

#upper-footer a {
     color: white;
 }

#upper-footer li li a {
    color: gray;
}

#upper-footer li li a:hover,
#upper-footer li li a:focus{
    color: #f14848;
}

#lower-footer {
    background-color: rgba(11, 0, 4, 0.91);
}

#lower-footer a {
    color: gray;
}

#lower-footer a:hover,
#lower-footer a:focus{
    color: white;
}
