@media (max-width: 700px) {
    nav {
        display: none;
    }
}

html {
    box-sizing: border-box;
    font-size: 100%
}
*, *:before, *:after {
    box-sizing: inherit;
}


a {
    text-decoration: none;
    color: black;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

a:active{
    color: #f14848;
    font-weight: bold;
}

.reset-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

header {
    height: 30px;
}

nav{
    position: fixed;
    right: 1.5%;
    top: 1%;
}

#comigo-main-logo {
    display: inline;
    position: fixed;
    left: 2%;
    top: 1%;
}

.center-block{
    margin: auto 0;
    color: white;
    text-align: center;
    display: inline-block;
    width: 100%;
    background-size: contain;
}

.red_btn{
    border-radius: 30px;
    border: solid #f14848;
    border-width: 10px 25px;
    background-color: #f14848;
    color: white;
    display: inline-block;
    margin: 1em;
}

.nav-sub-ul{
    display: none;
    position: fixed;
}

.nav-main-ul > li {
    display: inline-block;
}

.nav-sub-ul > li {
    display: inline-block;
    background: white;
}

.nav-main-ul > li > a:hover,
.nav-main-ul > li > a:focus{
    color: #f14848;
    outline: 0;
}

.nav-sub-ul li a:hover,
.nav-sub-ul li a:focus {
    color: white;
    background: #f14848;
    outline: 0;
    display: inline-block;
}


.nav-main-ul li li:hover + li,
.nav-main-ul li:hover > ul {
    display: inline-block;
}


#intro {
    height: 42.5vw;
    background-image: url("../assets/main-bg/home-brain-image-new-1920x816.png"),
                      url("../assets/main-bg/home-featured-bg.png");
    background-size: contain;
    padding-top: 10%;

}

#intro h1{
    width: 80%;
    font-size: 5.5vw;
    margin: 0 auto;
}

#why-us {
    height: 29vw;
    padding-top: 8%;
}

#why-us h2{
    width: 60%;
    font-size: 2.6rem;
    color: rgba(0, 0, 0, 0.7);
    margin: 0 auto;
}

#why-us p{
    width: 30%;
    font-size: 1rem;
    color: gray;
    margin: 0 auto;
}

#engage {
    display: none;
}


#services-section h2{
    font-size: 3vw;
    font-weight: 100;
}


#enhance-tv {
    background-image: url("../assets/other/home-tv-service-bg1.png");
    display: inline-block;
    width: 50%;
    padding-top: 1%;
    padding-bottom: 1%;
}

#enhance-tv div{
    text-align: left;
    width: 50%;
    margin: 0 auto;
}

#enhance-tv .red_btn{
    color: red;
    background-color: white;
    border-radius: 30px;
    border: solid white;
    border-width: 10px 25px;
}

#enhance-tv img{
    height: 19vw;
    margin-top: 1vw;
}

#deploy-tv {
    background-image: url("../assets/other/home-tv-service-bg2.png");
    display: inline-block;
    width: 50%;
    color: black;
    text-align: left;
    padding-top: 1%;
    padding-bottom: 1%;
}

#deploy-tv img{
    height: 20vw;
}

#deploy-tv div{
    padding-left: 5%;
}



.unique-exp h2{
    word-spacing: 5000px;
    font-size: 6vw;
    color: gray;
}

.unique-exp p{
    color: gray;
    width: 50%;
}

#unique-exp-txt{
    width: 40%;
    text-align: left;
    padding-left: 5vw;
    margin-bottom: 5vw;
    vertical-align: top;

}

#unique-exp-img {
    width: 60%;
    overflow: hidden;
}

#unique-exp-img img{
    height: 50vw;
    margin: 5vw;
}

#white-paper a{
    color: white;
    background-color: #f14848;
}

#schedule-demo {
    background-color: lightgray;
}

#schedule-meeting {
    background-color: lightgray;
}

#social-icons-learn-more {
    background-color: lightgray;
}
#social-icons-learn-more a{
    background-color: #f14848;
}
#blog a{
    color: white;
    display: inline-block;
    height: 100%;
}

#blog ul{
    vertical-align: top;
}

.blog-item {
    display: inline-block;
    width: 16.6666666667%;
    height: 31.111111124vw;
    vertical-align: top;
}

#blog li:nth-of-type(1) {
    background-color: #f14848;
    color: white;
 }

.blog-item a {
    background-position: center;
}

#blog li:nth-of-type(2) a{
    background-image: url("../assets/blog/ibc_post_EI-750x508.png");
}

#blog li:nth-of-type(3) a{
    background-image: url("../assets/blog/IMG_9294-750x563.jpeg");
}

#blog li:nth-of-type(4) a{
    background-image: url("../assets/blog/Image-Blog-Yoav_356121362-copy-750x563.jpg");
}

#blog li:nth-of-type(5) a{
    background-image: url("../assets/blog/post_tv_connect-750x508.jpeg");
}

#blog li:nth-of-type(6) a{
    background-image: url("../assets/blog/post_quality-750x508.jpeg");
}


#upper-footer {
    background-color: rgba(4, 4, 11, 0.86);
}

#upper-footer a {
     color: white;
 }

#upper-footer li li a {
    color: gray;
}

#upper-footer li li a:hover,
#upper-footer li li a:focus{
    color: #f14848;
}

.lower-footer {
    background-color: rgba(11, 0, 4, 0.91);
    color: gray;
    text-align: center;
}

.lower-footer a,
.lower-footer p,
.lower-footer address,
.lower-footer span {
    color: gray;
    font-size: 0.8vw;
    line-height: 1.3vw;
}

.lower-footer a:hover,
.lower-footer a:focus,
.lower-footer a:hover span{
    color: white;
}

.lower-footer .lower-footer-social-list span{
    display: inline;
}

.lower-footer-margin {
    margin-right: 10vw;
}

.lower-footer-address{
    padding-right: 5vw;
}

.lower-footer-rights,
.lower-footer-links-list,
.lower-footer-address,
.lower-footer-social-list,
.lower-footer-link-item,
.lower-footer-social-item {
    display: inline-block;
    vertical-align: middle;
}

.lower-footer-link-item::before{
    content: "|";
    margin-right: 1vw;
    margin-left: 1vw;
    display: inline-block;
}

.lower-footer-social-item{
    margin-left: 1vw;
    padding: 2px 8px;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 0px grey;
}

