@media (max-width: 700px) {
    #nav-bar {
        display: none;
    }
}

html {
    box-sizing: border-box;
    font-size: 100%
}
*, *:before, *:after {
    box-sizing: inherit;
}


a {
    text-decoration: none;
    color: black;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

main{
    padding-top: 66px;
}

a:active{
    color: #f14848;
    font-weight: bold;
}

.reset-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header {
    height: 66px;
    background-color: white;
    position: fixed;
    width: 100%;
    box-shadow: -2px 0px 20px 7px white;
    z-index: 999;
}

nav {
    right: 33px;
    top: 11px;
    position: absolute;
    display: inline-block;
}

#comigo-main-logo {
    display: inline;
    left: 35px;
    top: 20px;
    position: absolute;
}

.center-block{
    margin: auto 0;
    color: white;
    text-align: center;
    display: inline-block;
    width: 100%;
    background-size: contain;
}

.red_btn{
    border-radius: 30px;
    border: solid #f14848;
    border-width: 10px 25px;
    background-color: #f14848;
    color: white;
    display: inline-block;
    margin: 1em;
    font-size: 1.2vw;
}

.nav-sub-ul{
    display: none;
    position: fixed;
    top: 62px;
    left:0px;
    right: 0px;
    padding: 0;
    text-align: center;
    font-size: 3vw;
    font-weight: 100;
    text-transform: uppercase;
}

.nav-main-ul > li {
    display: inline-block;
    font-size: 1.15vw;
    margin-left: 1.5vw;
}

.nav-sub-ul > li {
    display: inline-block;
    background: #d9d9d9;
    opacity: 0.97;
    height: 10vw;
    width: 33.3333333333%;
}

.nav-main-ul > li > a:hover,
.nav-main-ul > li > a:focus{
    color: #f14848;
    outline: 0;
}

nav-sub-ul {
    display: block;
}

.nav-sub-ul li:hover,
.nav-sub-ul li a:focus {
    color: white;
    background: #f14848;
    outline: 0;
    display: inline-block;
}


.nav-main-ul li li:hover + li,
.nav-main-ul li:hover > ul {
    display: inline-block;
}


#intro {
    height: 42.5vw;
    background-image: url("../assets/main-bg/home-brain-image-new-1920x816.png"),
                      url("../assets/main-bg/home-featured-bg.png");
    background-size: contain;
    padding-top: 10%;

}

#intro h1{
    width: 80%;
    font-size: 5.5vw;
    margin: 0 auto;
}

#why-us {
    height: 29vw;
    padding-top: 8%;
}

#why-us h2{
    width: 60%;
    font-size: 4.2vw;
    color: rgba(0, 0, 0, 0.7);
    margin: 0 auto;
}

#why-us p{
    width: 30%;
    font-size: 1rem;
    color: gray;
    margin: 0 auto;
}

#engage {
    display: none;
}


#services-section h2{
    font-size: 3vw;
    font-weight: 100;
}


#enhance-tv {
    background-image: url("../assets/other/home-tv-service-bg1.png");
    display: inline-block;
    width: 50%;
    padding-top: 1%;
    padding-bottom: 1%;
}

#enhance-tv div{
    text-align: left;
    width: 50%;
    margin: 0 auto;
}

#enhance-tv .red_btn{
    color: red;
    background-color: white;
    border-radius: 30px;
    border: solid white;
    border-width: 10px 25px;
}

#enhance-tv img{
    height: 19vw;
    margin-top: 1vw;
}

#deploy-tv {
    background-image: url("../assets/other/home-tv-service-bg2.png");
    display: inline-block;
    width: 50%;
    color: black;
    text-align: left;
    padding-top: 1%;
    padding-bottom: 1%;
}

#deploy-tv img{
    height: 20vw;
}

#deploy-tv div{
    padding-left: 5%;
}



.unique-exp h2{
    word-spacing: 5000px;
    font-size: 6vw;
    color: gray;
}

.unique-exp p{
    color: gray;
    width: 50%;
    font-size: 3vw;
}

#unique-exp-txt{
    width: 40%;
    text-align: left;
    padding-left: 5vw;
    margin-bottom: 5vw;
    vertical-align: top;

}

#unique-exp-img {
    width: 60%;
    overflow: hidden;
}

#unique-exp-img img{
    height: 50vw;
    margin: 5vw;
}

#white-paper a{
    color: white;
    background-color: #f14848;
}

#schedule-demo {
    background-color: lightgray;
}

#schedule-meeting {
    background-color: lightgray;
}

#social-icons-learn-more {
    background-color: lightgray;
}
#social-icons-learn-more a{
    background-color: #f14848;
}


.blog-item {
    display: inline-block;
    width: 16.6666666667%;
    height: 36.1111111vw;
    vertical-align: top;
    overflow: hidden;
    position: relative;
    background: black;
}

.blog-item .blog-img {
    display: inline-block;
    height: 100%;
    width: 100%;
    background: no-repeat center;
    background-size: cover;
    opacity: 0.2;
}

.blog-item p,
.blog-item h3,
.blog-item strong{
    font-weight: 200;
    margin-bottom: 20px;
    color: white;
    font-size: 1.5vw
}

.blog-text div{
    display: inline-block;
    width: 100%;
    height: 10vw;
    background-color: rgba(220, 63, 63, 1);
    text-align: center;
}

.blog-text strong {
    display: inline-block;
    margin-top: 5vw;
}

.blog-title{
    position: absolute;
    bottom: 1vw;
    margin-left: 1vw;
}

.blog-title h3{
    font-size: 5vw;
}

.blog-text {
    position: absolute;
    width: 100%;
    bottom: -10vw;
}

.blog-item a:hover .blog-img {
    opacity: 1;
}

.blog-item a:hover .blog-text{
    bottom: 0;
}

.blog li:nth-of-type(1) {
    background-color: rgba(220, 63, 63, 0.89);
    color: white;
 }

.blog li:nth-of-type(2) .blog-img{
    background-image: url("../assets/blog/ibc_post_EI-750x508.png");
}

.blog li:nth-of-type(3) .blog-img{
    background-image: url("../assets/blog/IMG_9294-750x563.jpeg");
}

.blog li:nth-of-type(4) .blog-img{
    background-image: url("../assets/blog/Image-Blog-Yoav_356121362-copy-750x563.jpg");
}

.blog li:nth-of-type(5) .blog-img{
    background-image: url("../assets/blog/post_tv_connect-750x508.jpeg");
}

.blog li:nth-of-type(6) .blog-img{
    background-image: url("../assets/blog/post_quality-750x508.jpeg");
}


#upper-footer {
    background-color: rgba(4, 4, 11, 0.86);
}

#upper-footer a {
     color: white;
 }

#upper-footer li li a {
    color: gray;
}

#upper-footer li li a:hover,
#upper-footer li li a:focus{
    color: #f14848;
}

.lower-footer {
    background-color: rgba(11, 0, 4, 0.91);
    color: gray;
    text-align: center;
}

.lower-footer a,
.lower-footer p,
.lower-footer address,
.lower-footer span {
    color: gray;
    font-size: 0.8vw;
    line-height: 1.3vw;
}

.lower-footer a:hover,
.lower-footer a:focus,
.lower-footer a:hover span{
    color: white;
}

.lower-footer .lower-footer-social-list span{
    display: inline;
}

.lower-footer-margin {
    margin-right: 10vw;
}

.lower-footer-address{
    padding-right: 5vw;
}

.lower-footer-rights,
.lower-footer-links-list,
.lower-footer-address,
.lower-footer-social-list,
.lower-footer-link-item,
.lower-footer-social-item {
    display: inline-block;
    vertical-align: middle;
}

.lower-footer-link-item::before{
    content: "|";
    margin-right: 1vw;
    margin-left: 1vw;
    display: inline-block;
}

.lower-footer-social-item{
    margin-left: 1vw;
    padding: 2px 8px;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 0px grey;
}

